<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195497913080-lqnkore19lhac7l2kbkc47vps2emg7ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195497913080-lqnkore19lhac7l2kbkc47vps2emg7ki</string>
	<key>API_KEY</key>
	<string>AIzaSyCY3xUrolUKHDrd9mwrSFtVlz72YEe0R7U</string>
	<key>GCM_SENDER_ID</key>
	<string>195497913080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.XFBarcodeScanning</string>
	<key>PROJECT_ID</key>
	<string>xfbarcodescanning</string>
	<key>STORAGE_BUCKET</key>
	<string>xfbarcodescanning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195497913080:ios:8958e18e18225e48cd690d</string>
</dict>
</plist>